body
{
text-align: center; 
background: white  url(../img/bacground.jpg) no-repeat;
}
#error
{
width:200px; 
margin:0 74%;
}
.error
{
color:red;      
}
#userEnter
{
 color: darkblue;
 width:300px;
 margin-left:70%;
}

#loginFormDiv
{
  text-align:left;  
  width:150px;
  padding: 10px;
  margin-left:75%;
}
#menu
{
width:650px;
margin: auto;
}
#menu,#admin_menu a
{
font:  20px cursive;
}
#forContent
{
 width:70%;
 margin: auto;
 margin-top: 50px;
}
.mainBox
{
background-color:lightskyblue;
border-radius: 10px;    
}
#limit
{
padding:10px;
font: 16px cursive;
width : 210px;
float : left;
margin-left : 100px;
}
a
{
padding: 10px;
}
#pagination
{
 font: 16px cursive; 
}