h2
{
width:200px; 
margin: auto;
}
#productTitle a
{
padding: 20px;
}
#product
{   
    color: white;
    padding: 10px;
    width: 40%;
    height: 150px;
    margin: auto;
    margin-bottom:10px;
     
}
#forContent img
{  
    float:left;
    height: 150px;
}