#body
{
 width: 500px;
 margin: auto;
 padding: 30px; 
 font: 18px cursive; 
}
#forLabels
{
 color: white;
 height:200px;
 float: left;
 padding: 20px;
}
#userInfo
{ 
 padding: 20px;   
 height:200px;
 text-align: left;
 margin-left: 25%; 
}
#body img
{
  height:200px;
  float: left;
}