#body h2
{
    font-family:cursive;
    color:indigo;
}
#userInfo
{  
    text-align: left;
    margin-left: 25%; 
    float: left;   
}
#body label
{
    color:goldenrod;
    font: italic 20px fantasy;
}
#body span
{
font-size: 25px;    
}
#body img
{
  width: 200px;
}