h2
{
width: 150px;
margin: auto;
margin-bottom:20px; 
}
#body
{
width: 350px;
margin: auto;
text-align: left;
font: 15px cursive;
}
#body div
{
    padding: 20px;
    height: 30px;
}
h3
{
    width: 100px;
    float: left;
    padding-left: 20px;
}
#tel h3
{
 width: 200px;   
}
p
{
 padding:0 0  10px 40px; 
}